.home-container {
    flex-direction: column;
    padding: 1em 0;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    height: 90vh;
    /* border: 1px solid green; */
    --app-title-height: 18.9vw
}

.titleFlag {
    /* margin-top:1em; */
    width: 100%;
    height: 20vw;
    /* border: 1px solid yellow; */
    justify-content: center;
    align-items: center;
}
.appTitle {
    font-size: 5vw;
    position: absolute;
    top: 18vh;
    bottom: 82vh;
    margin: 0 20vw;
    width: 60vw;
    height: fit-content;
    /* border: 2px solid red; */
    color: rgb(255, 255, 255);
    text-shadow: -1px 2px 6px black;
}

.clefSvg-container {
    /* border: 1px solid purple; */
    height: var(--app-title-height);
    width: 73vw;
    /* overflow: hidden; */
    margin: 0 13.5vw;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}
.trebleClef-svg {
    height: var(--app-title-height);
    width: 72vw;
    border-radius: .5em;
    stroke:transparent;
    /* position: absolute; */
    box-shadow: 1px 1px 5px black;
}


.exercise-links-container {
    height: 62vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.exercise-link {
    /* border: 1px solid purple; */
    background-color: #1a1a1a;
    margin: 0 1em;
    border-radius: .5em;
    height: 50vh;
    min-height: 40vh;
    width: 42vw;
    justify-content: center;
    align-items: center;
}

.exercise-link:hover {
    box-shadow: 0px 0px 5px #111111;
}

@media (max-width: 600px) {
    .home-container {
        /* --app-titlepheight: 8.8vw */
    }

    .appTitle {
        font-size: 2em;
        top: 21vw;
    }
}


@media (min-width: 1100px) {
    .nav-link {
      padding: 0 .3em;
    }
    a {
        font-size: 3vw;
    }
  
  }