.wave-svg {
    height: 5em;
    border: 2
    px dotted green;
    width: auto;
}

.active {
    fill: rgb(133, 163, 0);
}

.config-container {
    border: 1px solid yellow;
    position: absolute;
    right: 4em;

    width: 10em;
    padding: .5em;
}

.config-menu {
    border: 1px solid red;
    height: 30em;
    width: 10em;
    display: none;
    flex-direction: column;
    padding: .5em;
}

.menu-item {
    border: 1px solid blue;
    height: 3em;
    width: inherit;
}