
.flex {
  display: flex;
}

.navbar {
  height: 10vh;
  padding: 0 15em;
  background-color: #202020;

  display: flex;
  
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
}
.nav-link {
  flex-grow: 1;
  background-color: #1a1a1a;
  min-width: 6em;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
}

.nav-link:hover {
  background-color: #131313;
  border-color: #111111;
  box-shadow: 1px 2px 3px #111111;
}

.loginLinks {
  height: inherit;
  min-width: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: .5em;
  overflow: hidden;
  gap: 1px;
}

.login-link {
  background-color: #bdb78e;
  color: rgb(255, 255, 255);
  
  width: 5em;
  height: 3em;
  justify-content: center;
  align-items: center;
}
.login-link:hover {
  background-color: #807c5e;
  color: rgb(255, 255, 255);
}

.mainContent {
  min-height:90vh;
}

.loadingSamples {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 0, 0, 0.168);
  height: 100vh;
  width: 100vw;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* ------- Exercise Page Containers------- */
.exercise-container {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.exerciseScores {
  grid-area: 1 / 2 / 2 / 3;
}

.config {
  grid-area: 1 / 3 / 2 / 4;
}

.wave {
  grid-area: 2 / 2 / 3 / 3;
}

.answerOptions {
  grid-area: 3 / 1 / 5 / 4;
}

.start-game {
  grid-area: 5 / 2 / 6 / 3;
}