
.flex {
  display: flex;
}

.navbar {
  /* border: 2px solid green; */
  height: 10vh;
  padding: 0 15em;
  background-color: #202020;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav-link {
  margin: 1em;
  background-color: #1a1a1a;
  width: 8em;
  height: inherit;
  display: inherit;
  justify-content: center;
  align-items: center;

  border-radius: .5em;
}

.nav-link:hover {
  background-color: #131313;
  border-color: #111111;
  box-shadow: 1px 2px 3px #111111;
}

.mainContent {
  min-height:90vh;
}

.loadingSamples {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 0, 0, 0.168);
  height: 100vh;
  width: 100vw;

  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}